@charset "UTF-8";

@media screen and (min-width: 700px) and (max-width: 992px) {
    section#login {
        width: 80vw;
        height: 280px;
    }

    section#login > div#imagem {
        float: left; /*passar a imagem para lateral*/
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

}